# Files and directories created by pub
.dart_tool/
.packages

.DS_Store
.atom/
.idea/
.vscode/

# Conventional directory for build output.
build/

# Directory created by dartdoc
doc/api/

# Avoid committing pubspec.lock for library packages; see
# https://dart.dev/guides/libraries/private-files#pubspeclock.
pubspec.lock

# We create these files for inspection if the goldens tests fail, but we don't
# need to check them in.
packages/winrtgen/test/goldens/*.comparison
