.DS_Store
.atom/
.idea/
.vscode/launch.json

.dart_tool/
.packages
pubspec.lock
pubspec_overrides.yaml
*.iml

# Conventional directory for build output.
build/

# Directory created by dartdoc
**/doc/api/

# We create these files for inspection if the goldens tests fail, but we don't
# need to check them in.
packages/winrtgen/test/goldens/*.comparison
